*.fa filter=lfs diff=lfs merge=lfs -text
MutPredPy/resources/Homo_sapiens.GRCh37.combined.pep.all.fa filter=lfs diff=lfs merge=lfs -text
MutPredPy/resources/Homo_sapiens.GRCh38.combined.pep.all.fa filter=lfs diff=lfs merge=lfs -text
MutPredPy/test/test_data/test.refseq.txt filter=lfs diff=lfs merge=lfs -text
MutPredPy/test/test_data/test.refseq_unversioned.txt filter=lfs diff=lfs merge=lfs -text
MutPredPy/test/test_data/test.vep_110.txt filter=lfs diff=lfs merge=lfs -text
MutPredPy/test/test_data/test.versioned_ENST.vep.txt filter=lfs diff=lfs merge=lfs -text
MutPredPy/test/test_data/test.ENSP.txt filter=lfs diff=lfs merge=lfs -text
MutPredPy/test/test_data/test.ENSP_ENST_ENSG.txt filter=lfs diff=lfs merge=lfs -text
MutPredPy/test/test_data/test.ENSP_unversioned.txt filter=lfs diff=lfs merge=lfs -text
