appdirs==1.4.4
astroid==2.15.8
biopython==1.83
certifi==2025.1.31
charset-normalizer==3.4.1
datacache==1.4.1
dill==0.3.9
gtfparse==2.5.0
idna==3.10
importlib_metadata==7.1.0
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
memoized-property==1.0.3
mock==5.1.0
numpy==1.26.4
pandas==2.2.2
platformdirs==4.3.6
polars==0.20.31
progressbar33==2.4
pyarrow==14.0.2
pyensembl==2.3.13
pylint==2.17.7
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
serializable==0.4.1
simplejson==3.19.3
six==1.16.0
SQLAlchemy==2.0.30
tinytimer==0.0.0
tomli==2.2.1
tomlkit==0.13.2
typechecks==0.1.0
typer==0.15.1
typing_extensions==4.12.1
tzdata==2024.1
urllib3==2.3.0
wrapt==1.17.2
zipp==3.19.2
